/*Colores*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Body */
body {
  background-color: #fffff1;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  border: 1px solid black;
  text-align: center;
  background-color: #8ebdd3;
}

.navegador li {
  justify-content: space-around;
  margin-right: 40px;
  font-size: large;
}

/* Logo */
.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
}

/* H1 y H2 */
.h1 {
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 1rem;
}

h2 {
  text-align: center;
  background-color: #a1a0e5;
  text-shadow: 2px 2px 5px white;
}

/* Main */
main {
  height: 80vh;
  flex: 1;
  flex-direction: coslumn;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.textop {
  margin-top: 30px;
  margin-bottom: 250px;
}

/*Index*/
.principal {
  width: 100%;
  min-height: 350px;
  display: flex;
  margin-top: 90px;
  margin-bottom: 80px;
}

.nleft {
  width: 50%;
  height: 350px;
  background-image: url(../Assets/portadad.jpg);
  background-size: cover;
  background-position: center;
}

.nright {
  display: inline;
  width: 50%;
  background-color: azure;
}
.nright h2 {
  text-align: center;
  background-color: #8ebdd3;
  font-size: 38px;
  margin-bottom: 10px;
}
.nright p {
  font-size: 20px;
  padding: 10px;
}

.secundario {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 80px;
}

.aaleft {
  display: inline;
  width: 50%;
  background-color: azure;
}
.aaleft h2 {
  text-align: center;
  background-color: #8ebdd3;
  font-size: 38px;
  margin-bottom: 10px;
}
.aaleft p {
  font-size: 20px;
  padding: 10px;
}

.aaright {
  width: 50%;
}
.aaright video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* Page DONAS*/
.galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  background-color: #a1a0e5;
  padding: 10px;
  grid-gap: 15px;
  min-height: 80vh;
}

/*Donas*/
.item {
  border: 5px solid black;
  background-size: cover;
  background-position: center;
  position: relative;
}
.item img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 25, 25, 0.644);
  opacity: 0;
  transition-duration: 0.8s;
  /*Efecto imagen donas*/
}
.overlay h3 {
  color: rgba(221, 224, 226, 0.973);
}
.overlay:hover {
  opacity: 100%;
}

/* Ubicacion */
.Plocal {
  margin-bottom: 50px;
}

.ubi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Contacto*/
.form {
  display: block;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

#nombre,
#correo,
#mensaje {
  width: 50%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* Formulario */
label {
  display: block;
  width: 50%;
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 2px;
  background-color: #8ebdd3;
  margin: 0 auto;
}

#botoncito {
  padding: 1%;
  margin-bottom: 100px;
  margin: 0 auto;
  display: flex;
}

.finfo {
  margin-top: 50px;
}

/* Footer */
footer {
  background-color: #8ebdd3;
  color: black;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.redes a {
  color: #fffff1;
  text-decoration: none;
  font-size: 30px;
}
.redes a:hover {
  color: #a1a0e5;
}

@media only screen and (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 0px;
  }
  .principal {
    flex-direction: column;
  }
  .nleft {
    width: 100%;
    text-align: center;
  }
  .nright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .aaright {
    width: 100%;
  }
  .aaleft {
    width: 100%;
  }
}
.nright {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
  }
}
@media only screen and (max-width: 768px) {
  .aaright {
    width: 100%;
  }
  .aaleft {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
  }
}

/*# sourceMappingURL=estilo.css.map */
