/* Header */

header {
    border: 1px solid black;
    text-align: center;
    background-color: $gris;
}

.navegador li {
    justify-content: space-around;
    margin-right: 40px;
    font-size: large;
}

/* Logo */

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
}