* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Body */

body {
    background-color: $crema;
    height: auto;
    display: flex;
    flex-direction: column;

}